.caption {
  @apply text-primary-100 text-left text-5xl uppercase;
}

.body {
  @apply border-primary-500 border-b-[3px];
}

.table {
  @apply w-full;
}

.header {
  @apply block w-full border-primary-500 border-[3px] py-1 px-2 rounded-xl mt-2;

  > tr {
    @apply w-full grid grid-flow-col;
    grid-template-columns: 40px 70px 1fr 50px 180px;
    > th {
      @apply text-left uppercase text-xl text-white;
    }

    > th:nth-of-type(4) {
      @apply text-success;
    }
    > th:nth-of-type(5) {
      @apply text-neutral;
    }
  }
}

.row {
  @apply w-full grid grid-flow-col py-2 px-2;
  grid-template-columns: 40px 70px 1fr 50px 180px;
  > td {
    @apply text-white uppercase text-xl font-bold max-h-8 overflow-hidden overflow-ellipsis;
  }
}

@media (max-width: 680px) {
  .caption {
    @apply text-3xl;
  }
  .header {
    @apply text-base;
    > tr {
      grid-template-columns: 40px 70px 1fr 50px 90px;
    }
  }
  .body {
    @apply text-base;
  }
  .row {
    grid-template-columns: 40px 70px 1fr 50px 90px;
  }
}
