.line {
  @apply absolute h-full flex flex-col items-center justify-between border-l-white border-r-success box-border;
  background-color: rgba(24, 32, 81, 1);
  border-right-width: 2px;
  border-left-width: 2px;

  > svg {
    @apply mx-1 w-6;
  }
  > p {
    @apply text-white uppercase rotate-90 self-center py-4;
  }
}

.start {
  @apply border-r-neutral;
}
