@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col px-14 select-none min-h-screen;
  background: url(../shared//images/brick-pattern.svg);
  background-repeat: repeat;
  background-size: 82px 42px;

  @media (max-width: 680px) {
    @apply px-8;
  }

  main {
    @apply flex flex-col flex-1 relative;
  }
}

body::before {
  @apply absolute top-0 left-0 w-full h-full pointer-events-none -z-10;
  content: '';
  background: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.6) 0%,
    transparent 80%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
