@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-16 overflow-hidden;
  background: url(../assets/brick-pattern.svg);
  background-repeat: repeat;
  background-size: 82px 42px;

  @media (max-width: 680px) {
    @apply px-8;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.6) 0%,
    transparent 80%
  );
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
